$green: #49ba8e;

.header {
  background: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: 20px;
    letter-spacing: -1px;
    margin-right: 20px;
  }

  .tag {
    padding: 3px 8px;
    background: #666;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    color: white;

    &.active {
      background: $green;
    }
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .clear {
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
  }
}
